extends ../wrapper

block content
	- let back = mountpoint + '/' + admin.name;
	if (admin.options.behavior === 'child')
		- back = mountpoint + '/' + pt + '/' + belongsTo
	
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-jsclass="adminController" data-mountpoint= mountpoint data-model= admin.name data-redirect= back)
			
				.page-header
					h2
						a.back-button(href= back)
							i.material-icons arrow_back_ios
						= admin.name + ': create'
					
				.page-content
					.admin-form
						form.form-validation(data-jsclass="formValidator" data-submitter="#submitter")
							if fk
								input(type="hidden" name= admin.name + '['+fk+']' value= belongsTo)
							.flextable(data-jsclass="flexTable" data-break="screen-xsmall,screen-small")
								ul
									li
									li
								ul
									for property in admin.options.editColumns
										if property !== fk
											li.label.edit
												= admin.getColumn(property).options.label
												ul
													li!= admin.getColumn(property).getForm(row,prepared[property])

									if (admin.options.behavior !== 'reference')
										// belongs to many relationships (through tables)
										for manyThrough in admin.options.hasManyThrough
											li.label
												= manyThrough.as
												ul
													li.data!= admin.getColumn(manyThrough.as).getForm(row,prepared[manyThrough.as],{resolved:manyThroughs[manyThrough.as]})
													
							section.form-group.pull-right.button-bar
								a.mdc-button(href= back) Cancel
								button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
									span.mdc-button__label Save
								
						.ajax-errors
							
		// p prepared
		// pre= JSON.stringify(prepared,"",2)
