extends ../wrapper

block content
	- let back = mountpoint + '/' + admin.name;
	if admin.options.parent
		- back = mountpoint + '/' + admin.options.parent.table + '/' + row[admin.options.parent.fk]

	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-jsclass="adminController" data-mountpoint= mountpoint data-model= admin.name data-id= row.id data-redirect= back)
			
				.page-header
					h2
						
						a(href= mountpoint + '/' + admin.name + '/' + row.id)
							i.material-icons arrow_back_ios
						= admin.name + ' table edit row ' + row.id
						
						.pull-right
							button.mdc-button.delete-button
								i.material-icons delete_forever
					
					//pre= JSON.stringify(admin.getOptions(),"",2)
					
				.page-content
					.admin-form
						form.form-validation(data-jsclass="formValidator" data-submitter="#submitter")
							.flextable(data-jsclass="flexTable" data-break="screen-xsmall,screen-small")
								ul
									li
									li
								ul
									for property in admin.options.editColumns
										li.label.edit
											= admin.getColumn(property).options.label
											ul
												li.data!= admin.getColumn(property).getForm(row)

							section.form-group.pull-right.button-bar
								a.mdc-button(href= mountpoint + '/' + admin.name + '/' + row.id) Cancel
								button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
									span.mdc-button__label Save
							
						.ajax-errors
