extends ../wrapper

block content
	.admin-form-container
		.admin-form.clear-fix.mdc-elevation--z1
			.admin(data-jsclass="adminController" data-mountpoint= mountpoint data-model= admin.name)
				
				.page-header
					h2
						= admin.name + ' table '
						.pull-right
							button.mdc-button.add-button
								i.material-icons add_circle
								
					// pre= JSON.stringify(admin.getOptions(),"",2)

				.page-content
					if admin.options.searchColumns.length
						if q
							section
								a.mdc-button.pull-right(href= mountpoint + '/' + admin.name)
									span.mdc-button__label
										i.material-icons close
								!= '<em>Found '+pagination.count+' row(s) matching:</em> <strong>' + q + '</strong>'
									
						else
							
							section.search-form
								.form-group
									table
										tr
											td
												input(type="text" name="q" placeholder="Search " + admin.name)
											td
												select(name="property")
													for prop in admin.options.searchColumns
														option(value= prop)= prop
												button.mdc-button.mdc-button--raised.search-button
													span.mdc-button__label Go

					if !rows.length
							section
								p No rows found
					else
						.flextable(data-jsclass="flexTable" data-break="screen-xsmall,screen-small")
							ul
								li id
								for property in admin.options.listColumns
									li= property
							ul
								for row in rows
									li.instance-select= row.id
										ul
											for col in admin.options.listColumns
												li!= admin.getColumn(col).getDisplayValue(row)
						
						include pagination
