isection.form-group
	.mdc-text-field.mdc-text-field--with-trailing-icon.mdc-text-field--textarea
		textarea.mdc-text-field__input(name= name rows= rows cols= cols data-validate= validate data-mask= mask data-length= length data-min-length= minLength data-max-length= maxLength)
		label.mdc-floating-label= label
		.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
		.mdc-line-ripple
	.mdc-text-field-helper-line
		.validation-help.mdc-text-field-helper-text--persistent
