aside#nav-drawer.drawer-top.mdc-drawer.mdc-drawer--dismissible
	.mdc-drawer__content
		nav.mdc-list
			.hidden-logged-in
				a.nav-item.mdc-list-item(href="/users/register")
					i.material-icons.mdc-list-item__graphic person_add
					span.mdc-list-item__text Create Account
				a.nav-item.mdc-list-item(href="/users/login")
					i.material-icons.mdc-list-item__graphic person
					span.mdc-list-item__text Login

			.hidden-logged-out
				div#drawer-personalized(data-hijax="true")
					if user
						a.nav-item.mdc-list-item(href="/users/home")
							i.material-icons.mdc-list-item__graphic person
							span.mdc-list-item__text= user.username
				a.nav-item.mdc-list-item(href="/users/settings")
					i.material-icons.mdc-list-item__graphic settings_applications
					span.mdc-list-item__text Settings
				a.nav-item.mdc-list-item(href="#" data-jsclass="ajaxButton" data-confirm="#confirm-dialog" data-confirm-prompt="Logout?" data-endpoint='/api/users/logout' data-method="DELETE" data-no-hijax="true" data-redirect="/users/login" ) Logout

.mdc-drawer-scrim
