aside#nav-drawer.drawer-top.mdc-drawer.mdc-drawer--dismissible
	.mdc-drawer__content
		nav.mdc-list
			.hidden-logged-in
				a.nav-item.mdc-list-item(href="/users/register")
					i.material-icons.mdc-list-item__graphic person_add
					span.mdc-list-item__text Create Account
				a.nav-item.mdc-list-item(href="/users/login")
					i.material-icons.mdc-list-item__graphic person
					span.mdc-list-item__text Login

			.hidden-logged-out
				a.nav-item.mdc-list-item(href="/users/home")
					i.material-icons.mdc-list-item__graphic home
					span.mdc-list-item__text User Home
				a.nav-item.mdc-list-item(href="/users/settings")
					i.mdc-list-item__graphic.fas.fa-user-cog
					span.mdc-list-item__text Settings
				a.nav-item.mdc-list-item(href="#" data-sargasso-class="ajaxButton" data-confirm="#confirm-dialog" data-confirm-prompt="Logout?" data-endpoint='/api/users/logout' data-method="DELETE" data-no-hijax="true" data-redirect="/users/login" )
					i.mdc-list-item__graphic.fas.fa-sign-out-alt
					span.mdc-list-item__text Logout
			
			a.nav-item.mdc-list-item(href="/policies")
				i.material-icons.mdc-list-item__graphic lock
				span.mdc-list-item__text Use and Privacy Policies
			
			.hidden-not-admin
				hr.mdc-list-divider
				a.nav-item.mdc-list-item(href="/admin/menu")
					i.material-icons.mdc-list-item__graphic publish
					span.mdc-list-item__text Site Admin
.mdc-drawer-scrim
