aside#nav-drawer.drawer-top.mdc-drawer.mdc-drawer--dismissible
	.mdc-drawer__header.hidden-logged-out
		#user-drawer-header.mdc-drawer__header-content.text-center(data-hijax="true")
			div
				if user
					a(href="/users/home")= user.username

	.mdc-drawer__content
		nav.mdc-list
			.hidden-logged-in
				a.nav-item.mdc-list-item(href="/users/register")
					i.material-icons account_circle
					|  Create Account
				a.nav-item.mdc-list-item(href="/users/login")
					i.material-icons account_circle
					|  Login

			.hidden-logged-out
				a.nav-item.mdc-list-item(href="/users/settings" data-toggle="tooltip" title="Your Settings." data-placement="bottom")
					i.material-icons settings_applications
					|  Settings
				a.nav-item.mdc-list-item(href="#" data-jsclass="logoutController") Logout

.mdc-drawer-scrim
