header.mdc-top-app-bar.mdc-top-app-bar--fixed
	div#navbar.mdc-top-app-bar__row(data-hijax="true")
		section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
			if backArrow
				a.material-icons.mdc-top-app-bar__navigation-icon(href="/") arrow_back_ios
			else
				a.hamburger.material-icons.mdc-top-app-bar__navigation-icon(href="#") menu

			#page-title.mdc-top-app-bar__title
				a.mdc-top-app-bar__action-item(href="/")= pageTitle ? pageTitle : sitename

			if fullscreen
				section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
					.position-relative
						.material-icons.mdc-top-app-bar__action-item
							i.material-icons.rotate-phone-prompt.rotate90(data-sargasso-class="immersive" data-target=".want-fullscreen") smartphone
							i.material-icons.fullscreen-prompt(data-sargasso-class="immersive" data-target=".want-fullscreen") fullscreen
