extends wrapper

block amdincontent
	- let back = mountpoint + '/' + admin.name;
	if (admin.options.behavior === 'child')
		- back = mountpoint + '/' + pt + '/' + belongsTo
	
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			div(data-sargasso-class="adminController" data-mountpoint= mountpoint data-model= admin.name data-redirect= back)
			
				.page-header
					h2
						a.back-button(href= back)
							i.material-icons arrow_back_ios
						= admin.name + ': create'
					
				.page-content
					.admin-form
						form.form-validation(action= mountpoint + '/' + admin.name method="POST" data-sargasso-class="MolaMola" data-helpers="AdminHandler,BoilerplateHandler" data-submitter="#submitter" data-redirect= back)
							input(type="hidden" name="_csrf" value= csrfToken data-payload)
							if fk
								input(type="hidden" name= admin.name + '['+fk+']' value= belongsTo data-payload)
							.flextable
								table
									tbody
										for property in admin.options.editColumns
											if property !== fk
												tr
													td.label.edit= admin.getColumn(property).options.label
													td.data(data-th= admin.getColumn(property).options.label)!= admin.getColumn(property).getForm(row,prepared[property])

										if (admin.options.behavior !== 'reference')
											// belongs to many relationships (through tables)
											for join in admin.options.joins
												tr
													td.label= join.as
													td.data(data-th= join.as)!= admin.getColumn(join.as).getForm(row,prepared[join.as],{resolved:joins[join.as]})
													
							section.input-group.pull-right.button-bar
								a.mdc-button(href= back) Cancel
								button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
									span.mdc-button__label Save
								
						.ajax-errors
							
		// p prepared
		// pre= JSON.stringify(prepared,"",2)
