extends ../../../../views/wrapper

block content
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			.page-header
				h2.no-icon Analytics
			
			.page-content
				p A bunch of charts here
				
				div(data-jsclass="digitopiaAnalyticsReport" data-endpoint= publicOptions.USER_BEHAVIOR.mountPoint + '/report')
