extends wrapper

block amdincontent
	.admin-container
		.admin.clear-fix.mdc-elevation--z1
			.page-header
				h2.no-icon Database Admin Edit
			
			.page-content
				nav.mdc-list
					a.mdc-list-item(href= publicOptions.USER_BEHAVIOR.mountPoint + '/dashboard') Analytics
					for table in tables
						a.mdc-list-item(href="/admin/" + table)= table
