// p= JSON.stringify(pagination)

if pagination.pages > 1
	ul.pagination.pagination-sm(data-sargasso-class="paginationController")
		
			
		if pagination.prev != pagination.page
			li.page-item
				a.page-link(href!= pagination.uri + '&p=1')
					span &laquo;
			li.page-item
				a.page-link(href!= pagination.uri + '&p=' + pagination.prev)
					span &lsaquo;
		else
			
			li.disabled.page-item
				a.page-link(href="#")
					span &laquo;
			li.disabled.page-item
				a.page-link(href="#")
					span &lsaquo;
				
		li.disabled.pagination-elipsis-start
			a.page-link(href="#")
				span &hellip;
					
		- for (let p=1; p <= pagination.pages; p++)
			if p == pagination.page
				li.active.page-item.pagination-page
					a.page-link(href!= pagination.uri + '&p=' + p)= p
			else
				li.page-item.pagination-page
					a.page-link(href!= pagination.uri + '&p=' + p)= p
		
		li.disabled.pagination-elipsis-end.page-item
			a.page-link(href="#")
				span &hellip;

		if pagination.next != pagination.page
			li.page-item
				a.page-link(href!= pagination.uri + '&p=' + pagination.next)
					span &rsaquo;
			li.page-item
				a.page-link(href!= pagination.uri + '&p=' + pagination.pages)
					span &raquo;
		else
			
			li.disabled.page-item
				a.page-link(href="#")
					span &rsaquo;
			li.disabled.page-item
				a.page-link(href="#")
					span &raquo;
