.input-group
	if value
		.mdc-switch.mdc-switch--checked
			.mdc-switch__track
			.mdc-switch__thumb-underlay
				.mdc-switch__thumb
					input.mdc-switch__native-control(type="checkbox" name= name checked data-payload)
	else
		
		.mdc-switch
			.mdc-switch__track
			.mdc-switch__thumb-underlay
				.mdc-switch__thumb
					input.mdc-switch__native-control(type="checkbox" name= name data-payload)
