@import 'nib'

*, *::before, *::after
	box-sizing: border-box

body
	margin:0
	padding:0
	overscroll-behavior: none

a
	color: #333

.top-margin
	margin-top: 64px
	.screen-xsmall &
		margin-top: 56px

.drawer-top
	top: 64px
	.screen-xsmall &
		top: 56px

section
	margin: .5rem 0

.button-bar
	button:not(:last-child)
		margin-right:1em

.clear-fix
	&::after
		display: block
		content: ""
		clear: both

.pull-left
	float:left

.pull-right
	float:right

// icon/text alignment
h2
	i
		font-size: 30px!important
		vertical-align: text-bottom

// form post error notifications

.ajax-errors
	margin-top: 30px
	i
		font-size:18px
		vertical-align: text-bottom
.ajax-message
	color: blue
.ajax-message-error
	color: red
.ajax-message-success
	color: green

button#submitter
	margin-left: 1em;

// form layout and geometry

.reg-form-container
	max-width: 516px
	.reg-form
		border: thin solid #eee
		border-radius: 4px
		padding: 1em
		.mdc-text-field
			height: 56px
			width: 100%
		.form-group
			position:relative
			margin-top: 1em
	.reg-form-footer
		padding-top: 1em
		text-transform: uppercase
	label
		text-transform: uppercase


// show/hide content bassed on login/subscriber status

.have-account
	.hidden-have-account
		display:none!important
.dont-have-account
	.hidden-dont-have-account
		display:none!important

.is-logged-in
	.hidden-logged-in
		display:none!important
.is-logged-out
	.hidden-logged-out
		display:none!important

.have-subscription
	.hidden-have-subscription
		display:none!important
.dont-have-subscription
	.hidden-dont-have-subscription
		display:none!important

// make autofill less horrifyingly ugly

input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus,textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus
	-webkit-text-fill-color: green
	-webkit-box-shadow: 0 0 0px 1000px #fff inset
	transition: background-color 5000s ease-in-out 0s

// alerts
.alert
	background-color: #333
	color: #eee
	padding: 1em;
	border: thin solid black
	border-radius: 4px

// form validation indicators and help prompts managed by jsclass formValidator.js

.form-validation
	.input-relative
		position:relative

	.input-ok-indicator
		opacity:0
		color: green!important

	.input-ok
		.input-ok-indicator
			opacity:.5

	.validation-help
		height: 18px
		font-size: .75em
		opacity: 0
		pointer-events:none
		color:#b00020

	.input-error
		&.touched
			.validation-help
				opacity:1

// splash screen to cover js boot
#splash
	position: fixed
	top:0
	left:0
	right:0
	bottom:0
	background-color:#333
	z-index:99999
	#splash-logo
		margin: 24vh auto
		color:#999
		text-align: center
		i
			font-size: 10em

/* flextable */

.flextable
	display:none
	table
		border: thin solid #dddddd
		border-collapse: separate
		*border-collapse: collapse
		border-radius: 4px
		border-left:0
		border-spacing: 0
		th,td
			padding: .5em
			border-left:thin solid #dddddd
		th
			border-bottom:thin solid #dddddd
		tr:not(:last-child)
			td
				border-bottom:thin solid #dddddd

.flextable-header
	text-align:left

.flextable-row-header
	font-weight: bold

.screen-xsmall .flextable-row-header
	text-align: left

.not-screen-xsmall .flextable-row-header
	text-align: center
