@import 'nib'

$darker-accent= #95c200;

quick()
	transition-property: all
	transition-duration: .25s
	transition-timing-function: ease


*, *::before, *::after
	box-sizing: border-box

body
	margin:0
	padding:0
	overscroll-behavior: none
	background-color:#eee;
	//background-image:url(/images/square_bg_big.png);
	background-attachment: fixed;

a
	color: #333

h1,h2,h3,h4
	margin-top: 0

// ajax calls add this class to the body while loading
.wait
	cursor: wait!important
	a
		cursor: wait!important

// room for nav bar
.top-margin
	margin-top: 64px
	.screen-xsmall &
		margin-top: 56px

.drawer-top
	top: 64px
	.screen-xsmall &
		top: 56px

.page-header
	padding-top: 1em
	.no-icon
		margin-left: 2em
	.back-button
		margin-left:.75em
	.action
		margin-right: 2em

.page-content
	background-color: white
	min-height: calc(80vh - 200px)
	padding:1em
	.not-screen-xsmall &
		margin-left:2em
		margin-right:2em

.profile-photo
	max-height: 150px
	border-radius: 10px

// color for active items such a nav bar notifications icon
.highlight
	color:$darker-accent

// dreaded red dot item count
.badge
	font-size:12px
	height:18px
	border-radius(8px)
	background-color:red
	color:white
	position:absolute
	top:10px
	right:10px
	padding:2px
	padding-left:4px
	padding-right:4px

// section separator
section
	margin: .5rem 0

// bar with multiple buttons add right margin between buttons
.button-bar
	.mdc-button:not(:last-child)
		margin-right:1em

// clear floats
.clear-fix
	&::after
		display: block
		content: ""
		clear: both

.pull-left
	float:left

.pull-right
	float:right

.center
	text-align:center

.centered
	margin: 0 auto

.truncate
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

.full-width
	width:100%

// icon/text alignment
h2
	i
		font-size: 30px!important
		vertical-align: text-bottom

// form post error notifications

.ajax-errors
	margin-top: 30px
	i
		font-size:18px
		vertical-align: text-bottom

.ajax-message
	color: blue
.ajax-message-error
	color: red
.ajax-message-success
	color: $darker-accent

// form layout and geometry

.reg-form-container
	max-width: 516px
	.reg-form
		background-color:white
		border-radius: 4px
		padding: 1em
		.mdc-text-field
			height: 56px
			width: 100%
		.form-group
			position:relative
			margin-top: 1em
	.reg-form-footer
		padding-top: 1em
		text-transform: uppercase
	label
		text-transform: uppercase

// show/hide content bassed on login/subscriber status

.have-account
	.hidden-have-account
		display:none!important
.dont-have-account
	.hidden-dont-have-account
		display:none!important

.is-logged-in
	.hidden-logged-in
		display:none!important
.is-logged-out
	.hidden-logged-out
		display:none!important

.is-subscriber
	.hidden-is-subscriber
		display:none!important
.not-subscriber
	.hidden-not-subscriber
		display:none!important

.is-admin
	.hidden-admin
		display:none!important
.not-admin
	.hidden-not-admin
		display:none!important

// make autofill less horrifyingly ugly

input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus,textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus
	-webkit-text-fill-color: rgba(0, 0, 0, 0.87)
	-webkit-box-shadow: 0 0 0px 1000px #fff inset
	transition: background-color 5000s ease-in-out 0s

// alerts
.alert
	background-color: #333
	color: #eee
	padding: 1em;
	border: thin solid black
	border-radius: 4px

// form validation indicators and help prompts managed by jsclass formValidator.js

.form-validation
	.input-relative
		position:relative

	.input-ok-indicator
		position:absolute
		top: 7px
		right: 7px
		opacity: 0
		color: $darker-accent!important

	.input-ok
		.input-ok-indicator
			opacity:.5

	.validation-help
		height: 18px
		font-size: .75em
		opacity: 0
		pointer-events:none
		color:#b00020

	.input-error
		&.touched
			.validation-help
				opacity:1

	.mdc-select
		.mdc-select__dropdown-icon
			right: 48px
		.input-ok-indicator
			position: absolute
			right: 12px
			z-index: 1000
			top: 12px

// splash screen to cover js boot
#splash
	position: fixed
	top:0
	left:0
	right:0
	bottom:0
	background-color:#333
	z-index:99999
	#splash-logo
		margin: 24vh auto
		color:#999
		text-align: center
		i
			font-size: 10em

/* alerts slide-down */
#user-alerts
	quick()
	position:fixed
	top: -100%
	right:0px
	width: 60vw
	max-width: 300px
	height: calc(100vh - 64px)
	background-color:white
	.screen-xsmall &
		height: calc(100vh - 56px)
	&.open
		top:64px
		.screen-xsmall &
			top:56px


/* flextable */
.flextable
	display:none
	table
		width:100%
		border: thin solid #dddddd
		border-collapse: separate
		*border-collapse: collapse
		border-radius: 4px
		border-left: 0
		border-spacing: 0
		th,td
			padding: .5em
			border-left:thin solid #dddddd
		th
			border-bottom:thin solid #dddddd
		tr:not(:last-child)
			td
				border-bottom:thin solid #dddddd
	.flextable-header
		background-color:#ddd
	.flextable-row-header
		text-align: left

	&.folded
		.flextable-cell
			height: 30px
			padding-bottom: 1.5em
		.flextable-header
			text-align:left
			background-color:#eee
		.flextable-row-header
			font-weight: bold
			text-align: left!important
			background-color:#ddd

tr.hovering
	td
		cursor: pointer
		background-color: #eee

.admin-container
	max-width: 1200px
	.admin
		background-color:white
		border-radius: 4px
		padding: .5em
		.admin-search
			input[type="text"],textarea
				font-size:1em
				width: 100%
				padding: .5em
		.admin-form
			table
				td
					img
						max-height: 200px
						width:auto
			input[type="text"],textarea
				font-size:1em
				width: 100%
				padding: .5em
			select
				min-width: 80%
			input[type="file"]
				margin-top: .5em
				font-size: 1em
			input[type="text"], select, textarea
				border: thin solid #999
				&:focus
					border-color: #888;
					box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
					box-shadow: 0 0 0 1px -moz-mac-focusring;
					color: #222;
					outline: none;
			.form-group
				position:relative
			.mdc-switch
				margin: 1em
			.label
				width: 250px
				&.edit
					padding-top:18px
				&:first-child
					vertical-align:top
					text-align:right
					text-transform: uppercase
					background-color:#eee
					color: #333
			.uploadable-preview
				display:inline-block
				img
					margin-right:10px
					vertical-align:middle
			.uploadable-form
				display:inline-block

// https://www.filamentgroup.com/lab/select-css.html
.select-css
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),linear-gradient(to bottom, #ffffff 0%,#eee 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;

.select-css::-ms-expand
	display: none;

.select-css:hover
	border-color: #888;

.select-css:focus
	border-color: #888;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 1px -moz-mac-focusring;
	color: #222;
	outline: none;

.select-css option
	font-weight:normal;
