p Hello,

p Please <a href="#{url}">Click Here</a> to reset your password.

p NOTE: If you did NOT request to change your password you don't need to do anything. Someone probably just mistyped their email address while trying to log in.
	
p Thanks.
