p Hello,

p You are recieving this email because you registered on our site.

p please <a href="#{url}">Click Here</a> to verify your email address and complete your registration.

p NOTE: If you did NOT register with us you don't need to do anything. Someone probably mistyped their email address while registering.
	
p Thanks.
