extends ../../../views/wrapper

block content
	.page-header
		h2 
			<i class="material-icons">person</i> 
			= user.username + ' home'

	if flash
		p.alert= flash
		
	.page-content
		
		if !user.validated
			p.alert Please check your email to confirm and validate your email address. If you did not recieve the email <a class="mdc-theme--secondary" href="/users/email-change">click here</a> to resend.
				
		.hidden-not-subscriber
			p Hi subscriber!
		.hidden-is-subscriber
			p Hi, why not <a href="/users/subscription">subscribe now</a>!

		if user.profilePhoto
			p= JSON.stringify(user.profilePhoto)
			if user.profilePhoto.filename
				img.profile-photo(src= '/uploads/' + user.profilePhoto.filename)
