extends ../../../views/wrapper

block content
	.page-header
		h2 
			<i class="material-icons">person</i> 
			= user.username + ' profile photo'

	.reg-form-container.centered
		.reg-form.clear-fix.mdc-elevation--z1
			.admin-form
				form.form-validation(action="/users/profile-photo" method="PATCH" data-sargasso-class="formController,formValidator" data-submitter="#submitter" data-redirect="/users/settings")
					table
						tr
							td!= uploadFormElement
					section.input-group.pull-right.button-bar
						a.mdc-button(href="/users/settings") Cancel
						button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
							span.mdc-button__label Save
					
					.ajax-errors
