extends ../../../views/wrapper

block content
	.reg-form-container.centered
		h2 <i class="material-icons">person_add</i>  User Registration 
	
		form.form.form-validation(action="/api/users/register" method="PUT" data-responsive-class="formValidator,formController" data-submitter="#submitter" data-recaptcha= publicOptions.RECAPTCHA_PUBLIC)
			input(type="hidden" name="_csrf" value= csrfToken)
				
			.reg-form.clear-fix.mdc-elevation--z1
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(autocomplete="username" name="email" data-validate= {notEmpty:true,isEmail:true} data-unique-endpoint= "/api/users/is-unique-email")
						label.mdc-floating-label Email Address
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(name="confirm-email" data-validate= validators.email data-match="input[name='email']")
						label.mdc-floating-label Confirm Email Address
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(type="password" name="password" data-validate= {isPassword:true})
						label.mdc-floating-label Password
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(type="password" name="confirm-password" data-validate= {isPassword:true} data-match="input[name='password']")
						label.mdc-floating-label Confirm Password
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent

		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(name="username" data-validate= validators.username data-unique-endpoint= "/api/users/is-unique-username")
						label.mdc-floating-label Username - set your unique name
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
		
		
				section.form-group.pull-right
					a.mdc-button(href="/") Cancel
					button#submitter.mdc-button.mdc-button--raised(disabled) Sign Up
					
				.ajax-errors
			
			.reg-form-footer.clear-fix.button-bar
				.pull-right.mdc-typography--button 
					a(href="/users/login") Already have an account

			p.mdc-typography--caption After you click "Sign Up" we will send a new validation message to your new email address. Follow the link in the email to complete this process.
			
			p.mdc-typography--caption
				| Note: Once registered, you can delete your account at any time to remove all your personal information from our files. Your password will be encrypted and we will not sell or share your email address. 
				a(href="/policies") MORE
