extends ../../../views/wrapper

block content
	.page-header
		h2 
			a(href="/users/home")
				i.material-icons arrow_back_ios
				
			i.material-icons person
			= ' ' + user.username + ' settings'

	.page-content

		nav.mdc-list
			
			a.mdc-list-item(href="/users/photo") Profile Photo

			a.mdc-list-item(href="/users/tokens") Login History

			a.mdc-list-item(href="/users/email-change") Change Email Address

			a.mdc-list-item(href="/users/password-change") Change Password

			if publicOptions.STRIPE_PUBLIC
				a.mdc-list-item(href="/users/subscription") Subscription

			a.nav-item.mdc-list-item(href="#" data-sargasso-class="ajaxButton" data-endpoint="/api/users/delete" data-method="delete" data-confirm="#confirm-dialog" data-confirm-prompt="Delete your account?" data-no-hijax="true" data-redirect="/") Delete Account (Warning: can not be undone!)
