extends ../../../views/wrapper

block content
	.page-header
		h2 
			a(href="/users/settings")
				i.material-icons arrow_back_ios
				
			i.material-icons lock
			= ' access history'

	.page-content
		.flextable
			table
				thead
					tr
						th Created
						th Last Access
						th Last Login IP Address
						th Currrent
						th 
				tbody
					for token in tokens
						tr
							td= token.createdAt
							td= token.lastaccess
							td= token.ip
							td!= currentToken === token.token ? '<i class="material-icons">check</i>' : ''
							td
								if currentToken !== token.token
									a(href="#" data-sargasso-class="ajaxButton" data-confirm="#confirm-dialog" data-confirm-prompt="Delete login?" data-endpoint='/api/users/token-delete?token='+token.id data-method="DELETE" data-no-hijax="true" data-redirect="/users/tokens")
										<i class="material-icons">delete</i>
