extends ../wrapper

block content
	.page-header
		h2 
			<i class="material-icons">person</i> 
			= user.username + ' home'

	if flash
		p.alert= flash
		
	.page-content
		.hidden-dont-have-subscription
			p Hi subscriber!
		.hidden-have-subscription
			p Hi, why not <a href="/users/subscription">subscribe now</a>!
