extends ../wrapper

block content
	.reg-form-container.centered
		h2 <i class="material-icons">person</i>  User Login 
		
		form.form.form-validation(action="/api/users/login" method="POST" data-jsclass="formValidator,formController" data-submitter="#submitter")
			.reg-form.clear-fix.mdc-elevation--z1
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input#email.mdc-text-field__input(name="email" data-validate="required,email" value="")
						label.mdc-floating-label(for="email") Email Address
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
						
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input#password.mdc-text-field__input(type="password" name="password" data-validate="required,password" data-min-length="8" value="")
						label.mdc-floating-label(for="password") Password
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent

				section.form-group.pull-right.button-bar
					a.mdc-button(href="/") Cancel
					button#submitter.mdc-button.mdc-button--raised(disabled).primary-button
						span.mdc-button__label Login
					
				.ajax-errors
			
			.reg-form-footer.mdc-typography--button.clear-fix
				.pull-left
					a(href="/users/password-reset") Forgot Password
				.pull-right
					a(href="/users/register") Don't have an account
