extends ../wrapper

block content
	.reg-form-container.centered
		h2 <i class="material-icons">person_add</i>  User Registration 
	
		form.form.form-validation(action="/api/users/register" method="POST" data-jsclass="formValidator,formController" data-submitter="#submitter")
				
			.reg-form.clear-fix.mdc-elevation--z1
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(name="email" data-validate="required,email"  data-unique-endpoint= "/api/users/is-unique?field=email")
						label.mdc-floating-label Email Address
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(name="confirm-email" data-validate="required,email" data-match="input[name='email']")
						label.mdc-floating-label Confirm Email Address
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(type="password" name="password" data-validate="required,password" data-min-length="8")
						label.mdc-floating-label Password
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
				
		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(type="password" name="confirm-password" data-validate="required,password" data-match="input[name='password']")
						label.mdc-floating-label Confirm Password
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent

		
				section.form-group
					.mdc-text-field.mdc-text-field--with-trailing-icon
						input.mdc-text-field__input(name="username" data-validate="required" placeholder="letter, numbers and dash only" data-min-length="2" data-max-length="20" data-mask="^[a-zA-Z0-9-]+$" data-mask-error-prompt="letter, numbers and dash only" data-unique-endpoint= "/api/users/is-unique?field=username")
						label.mdc-floating-label Username - set your unique name
						.input-ok-indicator.material-icons.mdc-text-field__icon check_circle
						.mdc-line-ripple
					.mdc-text-field-helper-line
						.validation-help.mdc-text-field-helper-text--persistent
		
		
				section.form-group.pull-right
					a.mdc-button(href="/") Cancel
					button#submitter.mdc-button.mdc-button--raised(disabled) Sign Up
					
				.ajax-errors
			
			.reg-form-footer.clear-fix.button-bar
				.pull-right.mdc-typography--button 
					a(href="/users/login") Already have an account

			p.mdc-typography--caption After you click "Sign Up" we will send a new validation message to your new email address. Follow the link in the email to complete this process.
