extends ../wrapper

block content
	.page-header
		h2 
			a(href="/users/home")
				i.material-icons arrow_back_ios
				
			i.material-icons person
			= ' ' + user.username + ' settings'

	.page-content

		nav.mdc-list

			a.mdc-list-item(href="/users/tokens") Login History

			a.mdc-list-item(href="/users/email-change") Change Email Address

			a.mdc-list-item(href="/users/password-change") Change Password

			a.mdc-list-item(href="/users/subscription") Subscription
