extends ../wrapper

block content
	.page-header
		h2 
			a(href="/users/home")
				i.material-icons arrow_back_ios
				
			<i class="material-icons">person</i> 
			= user.username + ' settings'

	.page-content

		nav.mdc-list

		.mdc-list-item
			a(href="/users/email-change") Change Email Address

		.mdc-list-item
			a(href="/users/password-change") Change Password

		.mdc-list-item
			a(href="/users/subscription") Subscription
