extends ../wrapper

block content
	.row
		.col-sm-1
		.col-sm-10.content-area
			.page-header
				h1 New Password
				
			form.form(action="/api/users/password-set" method="POST" data-jsclass="formValidator,regForm" data-submitter="#submitter")
				input(type="hidden" name="token" value=req.query.token)
				input(type="hidden" name="redirect" value="/users/login")
				.form-group
					label Password
					input.form-control(type="password" name="password" data-validate="required,password" data-min-length="8")
					.validation-help
						
				.form-group
					label Confirm Password
					input.form-control(type="password" name="confirm-password" data-validate="required,password" data-match="input[name='password']" placeholder="confirm password")
					.validation-help

				.form-group
					button#submitter.btn.btn-primary  Save New Password
					
				.ajax-errors
					
		.col-sm-1
