extends ../wrapper

block content
	.page-header
		h2 
			<i class="material-icons">person</i> 
			= user.username + ' settings'


	p
		a(href="/users/change-email") Change Email Address

	p
		a(href="/users/change-password") Change Password

	p
		a(href="/users/subscription") Subscription
